<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>OpInvokerServlet</servlet-name>
		<servlet-class>com.pa.bi.gwt.host.server.op.OpInvokerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpInvokerServlet</servlet-name>
		<url-pattern>/Home/OpInvoke</url-pattern>
	</servlet-mapping>



  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>

</web-app>
